/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}
body {
	background: green;
}

.main {
	background: red;
	margin: 1em;
	padding: 10em;

}
